@import "./theme.scss";

.paper_container {
    text-align: center;
    border-radius: 8px;
    width: 230px;
    height: 320px;
  
    color: $text-dark-color;
    background: $background-very-light-color;
    box-shadow: 0px 10px 20px $shadow-color;

    margin-top: 50px;
    margin-bottom: 25px;
    
    @include custom-font;
  }
  
  /**/
  .paper_main {
    width: 250px !important;
    height: 360px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 10px !important;
  
    color: $background-light-color;
    @include custom-gradient;
}
  