.paper_button {
    width: 80%; 
    height: 9%;
    margin-top: 25px;


    
  
    color: hsl(237, 63%, 64%) !important;
    font-weight: bold;
    font-family: 'Montserrat';


    background: hsl(240, 78%, 98%) !important;
    border: none;
    border-radius: 4px !important;
    box-shadow: 0px 1px 2px hsl(233, 13%, 49%);
}

.button_main {
    color: hsl(240, 78%, 98%) !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8086ba+0,3c41a3+100 */
    background: rgb(128,134,186); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(128,134,186,1) 0%, rgba(60,65,163,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(128,134,186,1) 0%,rgba(60,65,163,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(128,134,186,1) 0%,rgba(60,65,163,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8086ba', endColorstr='#3c41a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}