.paper_container {
  text-align: center;
  border-radius: 8px;
  width: 230px;
  height: 320px;

  color: hsl(232, 13%, 33%);
  background: white;
  font-family: 'Montserrat';
}

/**/
.paper_main {
  width: 250px !important;
  height: 340px !important;
  margin-top: -10px;
  border-radius: 10px !important;

  color: hsl(240, 78%, 98%);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8086ba+0,3c41a3+100 */
  background: rgb(128,134,186); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(128,134,186,1) 0%, rgba(60,65,163,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(128,134,186,1) 0%,rgba(60,65,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(128,134,186,1) 0%,rgba(60,65,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8086ba', endColorstr='#3c41a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.papers_wrapper {
  display: inline-flex;
  background: transparent;
  height: 320px !important;
  box-shadow: 0px 10px 20px hsl(234, 14%, 74%);
}
